%% -*- erlang -*-
{erl_opts, [debug_info
           %% this option disables tail call optimization for debug
           %% ,{parse_transform, disable_tco}
           ]}.

{lib_dirs, ["deps"]}.

{cover_enabled, true}.

{deps_dir, "deps"}.
{deps, [
        {'erlando', ".*", {git, "https://github.com/slepher/erlando.git", {branch, "polymorphic"}}}
       ]}.

{dialyzer,
 [
  %% Store PLT locally inside the project in .rebar (Default)
  {plt_location, local},
  {warnings, [
              unmatched_returns,
              race_conditions, unknown
             ]}
 ]}.
