%% -*- erlang -*-
{erl_opts, [debug_info]}.

{cover_enabled, true}.

{deps, [
        {'erlando', ".*", {git, "https://github.com/slepher/erlando.git", {branch, "master"}}}
       ]}.

{provider_hooks, [{post, [{compile, {erlando, compile}}]}]}.

{profiles, [
  {test, [
    {deps, [{'disable_tco', {git, "https://github.com/slepher/disable_tco.git", {branch, "master"}}}]},
    {erl_opts, [{parse_transform, disable_tco}, nowarn_export_all]}
  ]}
]}.

{dialyzer,
 [
  %% Store PLT locally inside the project in .rebar (Default)
  {plt_location, local},
  {warnings, [
              unmatched_returns,
              race_conditions, unknown
             ]}
 ]}.
