%% -*- erlang -*-
{erl_opts, [debug_info]}.

{cover_enabled, true}.

{deps, [
        {'astranaut', { git, "https://github.com/slepher/astranaut.git", { tag, "0.2.7" } } },
        {'erlando',   { git, "https://github.com/slepher/erlando.git",   { tag, "2.2.2" } } }
       ]}.

{provider_hooks, [{post, [{compile, {erlando, compile}}]}]}.

{profiles, [
  {test, [
    {erl_opts, [{parse_transform, astranaut_disable_tco}, nowarn_export_all]}
  ]}
]}.

{dialyzer,
 [
  %% Store PLT locally inside the project in .rebar (Default)
  {plt_location, local},
  {warnings, [
              unmatched_returns,
              race_conditions, unknown
             ]}
 ]}.
